<!DOCTYPE html>
<html>
<head>
    <title>Sample Title</title>
</head>
<body>


<a href="/hello#{{randString}}">새로운 폼 작성하러가기</a>
<a href="/hello?key=keyId#{{randString}}">기존의 폼 작성하러가기</a>
<script type="application/javascript" src="jquery-1.9.1.min.js"></script>
<script type="application/javascript" src="sisyphus.min.js"></script>
</body>
